<button (click)="isSortFormOpen = !isSortFormOpen" class="w3-button w3-khaki">
  <span *ngIf="!isSortFormOpen">Open sorting</span>
  <span *ngIf="isSortFormOpen">Close sorting</span>
</button>

<form
  [formGroup]="sortForm"
  (ngSubmit)="sortDataByColumn()"
  *ngIf="isSortFormOpen"
>
  <h2>Sort table columns</h2>
  <div class="w3-row">
    <div class="w3-third">
      <select formControlName="sortBy" class="w3-select">
        <option
          *ngFor="let item of car.carData | keyvalue"
          [value]="item.key"
          >{{ item.key }}</option
        >
      </select>
    </div>
    <div class="w3-third">
      <select formControlName="sortType" class="w3-select">
        <option value="ascending">ascending</option>
        <option value="descending">descending</option>
      </select>
    </div>
    <div class="w3-third">
      <button type="submit" class="w3-button w3-khaki">
        Sort By selected column
      </button>
    </div>
  </div>
</form>

<table *ngIf="cars" class="w3-table w3-bordered">
  <tr>
    <th></th>
    <th *ngFor="let header of headers">{{ header }}</th>
  </tr>
  <tr *ngFor="let car of cars.cars">
    <th>
      <button (click)="deleteCar(car)" class="w3-button w3-black">
        Delete
      </button>
      <button (click)="editCar(car)" class="w3-button w3-khaki">Edit</button>
    </th>
    <th *ngFor="let item of car.carData | keyvalue">{{ item.value }}</th>
    <th *ngIf="car.customField">
      {{ car.customField.customFieldValue }}
    </th>
  </tr>
</table>

<button (click)="isCarAddOpen = !isCarAddOpen; isCarEditOpen = false" class="w3-button w3-khaki">
  <span *ngIf="!isCarAddOpen">Open car add form</span>
  <span *ngIf="isCarAddOpen">Close car add form</span>
</button>
<form [formGroup]="carAddForm" (ngSubmit)="addCar()" *ngIf="isCarAddOpen">
  <h2>Add new car</h2>
  <input
    formControlName="id"
    placeholder="id"
    type="number"
    min="1"
    max="9999999"
    class="w3-input"
  />
  <input formControlName="name" placeholder="name" />
  <input
    formControlName="price"
    placeholder="price"
    type="number"
    min="100"
    max="9999999"
    class="w3-input"
  />
  <input
    formControlName="customFieldName"
    placeholder="custom column name"
    class="w3-input"
  />
  <input
    formControlName="customFieldValue"
    placeholder="custom column value"
    class="w3-input"
  />
  <button type="submit" class="w3-button w3-black">Add</button>
</form>

<div *ngIf="isCarEditOpen">
  <h2>Edit existing car</h2>
  <form [formGroup]="carEditForm" (ngSubmit)="submitEditedCar()">
    <input
      formControlName="id"
      placeholder="id"
      type="number"
      min="1"
      max="9999999"
      class="w3-input"
    />
    <input formControlName="name" placeholder="name" class="w3-input" />
    <input
      formControlName="price"
      placeholder="price"
      type="number"
      min="100"
      max="9999999"
      class="w3-input"
    />
    <input
      formControlName="customFieldName"
      placeholder="custom column name"
      class="w3-input"
    />
    <input
      formControlName="customFieldValue"
      placeholder="custom column value"
      class="w3-input"
    />
    <button type="submit" class="w3-button w3-khaki">Edit</button>
  </form>
</div>
