/* You can add global styles to this file, and also import other style files */
.w3-modal {
  display: block;
}
.w3-full-width {
  width: 100% !important;
}
.w3-text-center {
  text-align: center;
}
html {
background: whitesmoke;
}
.w3-button{
  border: 1px solid grey !important;
}